extends layout

block content
  h1 Integrantes
  br
  br
  .row
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Desarrollador
        .panel-body
          | Eduardo Herrera
        .panel-footer
          | 8-888-888
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Desarrollador
        .panel-body
          | Liandrison Reyes
        .panel-footer
          | E-8-106693
    .col-md-3.col-sm-6.col-xs-12
      .panel.panel-success
        .panel-heading
          | Desarrollador
        .panel-body
          | Geral Navarro
        .panel-footer
          | 8-837-2134