extends layout

block content
  h1 Detalle
  br
  br
  #ListaDeEstudiantes
    table
      thead
        th Id
        th Nombre
        th Apellido
        th Cedula
        th Descripcion
        th Activo
          tbody
