extends layout

block title
 | INICIO
block content
 html#nav-index
 head
  body.home-page
    br
    a(href='http://ch.utp.ac.pa/', target='_blank')

      img(src='http://www.fisc.utp.ac.pa/sites/fisc.utp.ac.pa/files/imagecache/image_big/documentos/2012/imagen/logofisc.png', width='200 pixels',align='right')
    meta(http-equiv='Content-Language', content='es-ve')
    meta(http-equiv='Content-Type', content='text/html; charset=windows-1252')
    a(href='http://ch.utp.ac.pa/', target='_blank')

        img.m(src='http://www.utp.ac.pa/documentos/2015/imagen/logo_utp_1_300.png', width='200 pixels', align='right')

     h3.home-page UNIVERSIDAD TECNOLOGICA DE PANAMA
      h3.home-page PARCIAL 3
       h3.home-page  Geral Navarro
       h3.home-page  Eduardo Herrera
        h3.home-page Liandrison Reyes
          h3.home-page 1LS-222
            h3.home-page 2016
