extends layout

block content
  h1 Lista
  br
  br
  #ListaDeEstudiantes
    table.table.table-bordered
      thead
        tr
          th Nombre
          th Apellido
          th Activo
          th Detallle
          th Eliminar
        tr
          tbody